
:root{
    --heading-color:#0F172A;
    --container:0 7rem ;;
}

*{
margin: 0;
padding: 0;
}
body{
    font-size: 16px;
}
/* nav bar */
/* .hero{
    padding: 0 7rem ;
} */
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: auto;
}
nav{
    padding: 0 7rem ;
    display: flex;
padding-top: 2rem;
}
.rightnav{
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
  
}
nav button{
    height: 1.8rem;
    margin-left: 20px;
    width: 6rem;
    color: white;
    background-color: inherit;
    border: none;
    outline: 1px solid white;
}

/* end of navbar */

/* hero */
section.content{
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
 margin-top: 5rem; 
 height: 70vh;

}
img{
    max-width: 100%;
    object-fit: cover;
   max-height: 100%;
}
.lefthero{
    padding: 0 7rem ;
    margin-top: 6rem;
flex: 1;
flex-basis: 5rem;
}
.righthero{
  display: flex;
  justify-content: end;
    flex: 1;
    flex-basis: 300px;
    flex-wrap: wrap;
}
.lefthero h1{
    font-size: 5rem;
    width: 90%;
   
}
.lefthero input{
    height: 1.2rem;
    margin: 20px 0;
    background-image: url('../search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius: 10px;
width: 50%;
}


.hero{
    background-color:#881337 ;
    color: white;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  
}
.red-button{
    border-radius: 10px;
    text-align: center;
height: 2.8rem;
width: 7rem;
color: white;
border: none;
margin-left: 1.2rem;
background-color:#BE123C ;
}
span{
  padding: 0 .3rem;
    margin: 0 .3rem;
    border: 1px solid white;
    border-radius: 4px;
}
/* end of hero */
/* hero footeer */
.hero-footer{
    background-color: #F1F5F9;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    flex-wrap: wrap;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #94A3B8;
    font-size: 1.4rem;
    flex-wrap: wrap;
    flex-basis: calc(100%/5-10px);
}
/*  end of footer*/
/* Features */
.fcards{
    display: flex;
    
}
.feature{
    margin-top: 4rem;
    padding: 0 7rem ;

}
.feature .ftitle{
display: flex;
align-items: center;    
}
.feature .ftitle p{
    margin-left: auto;
    color: #2563EB;
    font-weight: 900;
    font-size: 1.3rem;
} 
i{
    margin-left: 5px;
}

.ftitle h2{
    color: var(--heading-color);
font-size: 3rem;
margin-bottom: 1.5rem;
}
.fcards{
    display: flex;
    
    flex-wrap: wrap;
   justify-content: space-between;
   gap: 20px;
   margin-bottom: 6rem;
}
img{
    max-width: 100%;
}
.fcard{
  width: 14.75rem;
    background-color: #BE123C;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 2rem;
   
color: white;
height: 21rem;
background-color: #E2E8F0;
border-radius: 10px;
}

.fcard1{
    background: url('../f1.png');
   
    background-position: center center;
    
    background-repeat: no-repeat;
    background-size: cover;


 
}
.fcard2{
    background: url('../f2.png');
    background-position: center center;
    
    background-repeat: no-repeat;
    background-size: cover;
   
  
}

.fcard3{
    background: url('../f3.png');
    background-position: center center;
    
    background-repeat: no-repeat;
    background-size: cover;
  
}

.fcard4{
    background: url('../f4.png');
    background-position: center center;
    
    background-repeat: no-repeat;
    background-size: cover;

  
}
.fcard p{
    margin: 0 1.5rem;
    margin-top: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}
.fcard h3{
    margin: 0 1.5rem;
    color: #ffffff;
}

.fcard5{
    
    background: url('../f5.png');
    background-position: center center;
    
    background-repeat: no-repeat;
    background-size: cover;

  
}
/* end of features */
/* master */
.master{
    padding: var(--container);
    display: flex;
    flex-direction: column;
    background-color: #F1F5F9;
    padding-top: 2rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;

}

.master .ftitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.master .ftitle p{
    color: #2563EB;
    font-weight: 900;
    font-size: 1.3rem;
}
.latestCards{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    border-radius: 20px;
   

}
.latestcard{
    width: 19.3rem;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
/* .latestcard:nth-child(){
    width:50px;
    height: 100%;
} */
.latestcard >img{
   width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.heading{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-left: 1rem;
    padding-top: 1rem;
   
    padding-bottom: 1rem;
}
.heading .heading-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
 .master span{
    margin-top: 1rem;
    position: absolute;

}
.master .span1{
    background-color: white;
    margin-left: 1rem;
}
.master .span2{
    background-color:#F3E8FF ;
    color: #6B21A8;
    margin-left: 1rem;
}

/* .card5{
    height:18.75rem ;
    background-color: #881337   ;
    border-radius: 20px;
    background-color: white;
} */

/* end of master */

/* expanding */
.expanding{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 0 7rem ;
}
.exhead{
    text-align: center;
    color: #0F172A  ;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}
.exwrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.excard{
    text-align: center;
    margin-bottom: 6rem;
}
.excard img{
    margin-bottom: 0.3rem;
}
.exbtn {
    text-align: center;
    margin-bottom: 3rem;
}
.exbtn button{
    text-align: center;
    height: 2.5rem;
    width: 9rem;
    border: none;
    background-color: #BE123C;
    color: white;
    font-size: 1.1rem;

}
/* end of expanding */
/* start of col */
.col{
    display: flex;
    justify-content: space-between;
    padding: 0 7rem ;
    
    background-color: #94A3B8;
    color: #fff;
    flex-wrap: wrap;
}
.leftcol{
   flex: 1.3;
    margin-top: 4rem;
    
}
.leftcol h2{
    font-size: 4rem;
    width: 70%;
    margin-bottom: 1rem;
}
.leftcol p{
    width:57% ;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.leftcol ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1.1rem;
    margin-bottom: 2.6rem;
}
.rightcol{
    margin-top: 4.8rem;
  
    flex: 1;
    
}
.leftcol button{
    text-align: center;
    height: 40px;

    width: 180px;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 1.1rem;
    outline: white 1.7px solid;
    border-radius: 10px;
    margin-bottom: 3rem;
}
/* end of col */
/* start of marie */
.marie{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 7rem ;
    padding-top: 4rem;
    background-color: #F1F5F9;
}
.leftmar {
    min-width: 300px;
    flex-wrap: wrap;
 flex: 1;
 position: relative;

}
.leftmar img{
    z-index:0 ;
    max-width: 100%;
    object-fit: cover;
}
.leftmar i{
  position: absolute;
  z-index: 2;
  top: 45%;
  background-color:white ;
  padding: 18px;
  text-align: center;
  left: -34px;
  border-radius: 50%;
 color: #94A3B8;


}
.rightmar{
    flex: 1;
    display: flex;
    flex-direction:column ;
    
  flex-wrap: wrap;
}
.mart{
    
margin-top: 6rem;
color: #94A3B8;
}
.mart span{
    color: #2563EB;
    
}
.maar{
    margin-top: 2rem;
    line-height: 1.5;
    width: 60%;
    font-size: 1.5rem;
}

/* end of marie */
/* start of be */
.be{
    padding: 0 7rem ;
display: flex;
color: #fff;
background-color:#94A3B8;
flex-wrap: wrap;
padding-top: 4rem;


}

.leftbe{
flex: 1 ;
}
.leftbe h2{
    font-size: 4rem;
    padding-top: 1rem;
}
.leftbe p{
    margin: 1.3rem 0;
    width: 60%;
    line-height: 1.7;
}



.rightbe{
flex: 1.5;
display: flex;
gap: 3rem;
flex-wrap: wrap;


}
.leftbe button{
    text-align: center;
    height: 40px;

    width: 180px;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 1.1rem;
    outline: white 1.7px solid;
    border-radius: 10px;
    margin-bottom: 3rem;
}
.rightbe{
    display: flex;
margin-left: 5rem;
}
.righbone img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.righbone{
    background-color: #fff;
    color: #0F172A;
    margin-bottom: 3rem;
    border-radius: 10px;
}
.righbone .be1{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    align-items: center;
    padding: 1rem 0; 
    
}


/* end of be */

/* start of Art */
.art{
    display: flex;
    flex-wrap: wrap;
}
section.art{
    padding: 0 7rem ;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom:4rem ;
    flex-wrap: wrap;
}
.artup >i,.artup >p{
    color: #2563EB;
}

.artup{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}
.artcards{
    display: flex;
    gap: 2rem;
    
    flex-wrap:wrap ;
    
}
.artcard{
    flex: 1;
    position: relative;
    min-width: 300px;
    
}
.art-down{
    margin-top: 1rem;
}
.art-down h3{
    color: #0F172A;
    margin-bottom: .4rem;
}
.art-down p{
    width: 60%;
}

.spsp{
    
    color: #BE123C;
    position: absolute;
top: 20px;
margin-left: 1rem;

}
.ar1{
    background-color:#F3E8FF ;
    color: #6B21A8;
padding: 2px;}
.ar2{
    background-color:#b9e8c1 ;
    color: #166534;
padding: 2px ;}
.ar3{
    background-color:#d5ddc7 ;
    color: #854D0E;
padding: 2px;}
/* end of art */
/* start of add */
.add{
    background-color: #0F172A;
    color: #fff;
    display: flex;
    flex-wrap:wrap ;
    padding: 0 7rem;
    padding-top: 2rem;
    justify-content: space-between;
}
.leftadd{
    flex: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
   flex-wrap: wrap;
  
}
.leftadd h2{
    font-size: 3.8rem;
    max-width: 81%;

}
.leftadd button{
    border-radius: 10px;
    text-align: center;
height: 2.8rem;
width: 9rem;
color: white;
border: none;
margin-top: 4rem;
background-color:inherit ;
outline: 1px solid white;
margin-bottom: 1rem;
}
.rightadd{
    flex: 1;
display: flex;
flex-wrap: wrap;
max-width: 90%;
}

/* end of Add */


/* last */
.last{
    margin: 0 7rem;
    display: flex;
    justify-content: space-between;
  padding-top: 4rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid;
    flex-wrap: wrap;
    color: #94A3B8;
}
.lastwrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
.lastwrap i{
    margin-right: 10px;
}
/* end of last */
/* footer */
.footer{
    padding: 0 7rem;
    margin-bottom: 3rem;
    color: #94A3B8;
    display: flex;
    flex-wrap: wrap ;
}
.footup{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap:wrap ;
    width: 100%;

}
.footup i{
    color: #94A3B8;
    font-size: 1.4rem;
}
/*  end of Footer */